<!-- app.component.html -->
<div class="container mt-5">
    <div class="row">
      <!-- Sección Nombre Organización -->
      <div class="col-md-6 mb-3">
        <h1>SmartDev</h1>
      </div>
  
      <!-- Sección Información de la Organización -->
      <div class="col-md-6 mb-3">
        <h2>Información de la Organización</h2>
        <p>
          SmartDev es una empresa dedicada al desarrollo de software y procesos tecnológicos innovadores, que busca conectar talento con proyectos de gran impacto.
        </p>
      </div>
  
      <!-- Sección Propósito de la Aplicación -->
      <div class="col-md-6 mb-3">
        <h2>Propósito de la Aplicación</h2>
        <p>
          Esta aplicación permite gestionar postulaciones laborales y administrar el flujo de talentos que buscan unirse a nuestra organización.
        </p>
      </div>
  
      <!-- Imagen Explicativa -->
      <div class="col-md-6 mb-3">
        <div class="" style="height: 300px;">
          <!-- Aquí se inserta la imagen -->
          <img src="assets/images/team.jpg" alt="Imagen Explicativa" class="aaa" />
        </div>
      </div>
  
      <!-- Botón Comenzar -->
      <div class="col-md-12 ">
        <button class="btn btn-primary" routerLink="/comenzar" (click)="goToLogin()">Comenzar</button>
      </div>
    </div>
  </div>
  
  